@media (max-width: 778px) {
  :root{
    --text:0.75;
  }
  .col-md2 {
    flex:100%;
    max-width: 100%;
  }
  .col-md6 {
    flex:100%;
    max-width: 100%;
  }
  .col-md10 {
    flex: 100%;
    max-width: 100%;
  }
  .col-md8 {
    flex: 100%;
    max-width: 100%;
  }
  .col-md2 {
    flex:  100%;
    max-width: 100%;
  }
  .project-cont {
    display: block;
  }
  .project-image {
    height: 300px;
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .col-service {
    flex: 100%;
    max-width: 100%;
  }
  .ach-cont {
    flex: 100%;
    max-width: 100%;
  }
  .img-cont {
    height: auto;
    flex: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    max-height: none;
  }
  .col-md-2 {
    display: none;
  }
  .about-cont {
    flex: 100%;
    max-width: 100%;
  }
  .no-p {
    padding: 4em 0;
  }
  
}
@media (min-width: 576px) {
  .main-cont {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .main-cont {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .main-cont {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-cont {
    max-width: 1140px;
  }
}
@media (max-width: 1125px) {
  .about-dic {
    display: none;
  }
}
